/* blog_list */
.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.posts > h1{
    text-align: center;
    color: #cfcece;
    font-size: 2em;
}

.post-container{
    display: flex;
    flex-direction: column;
}

.post-item{
    margin: 15px;
    padding: 30px;
    background: #808080;
    color: #000;
}

.post-item div:nth-child(2){
    text-align: right;
}

.post-item div h1 {
    font-size: 1.4em;
}


/* blog_create and blog_update*/

.section-container {
    margin: 2% 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-container h1{
    margin: 30px 0;
    color: #cfcece;
    font-size: 1.4em;
}

.form-container{
    background: #808080;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}

.form-section input {
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #dddcdc;
}

.form-section input:focus,
.form-section textarea:focus{
    background: #fff;
}

.form-section textarea{
    width: 100%;
    resize: none;
    height: 200px;
    background: #dddcdc;
}

#button-form{
    background-color: #000;
    color: #cac7c7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 0;
    font-weight: 900;
}

#button-form:hover{
    background: rgb(228, 169, 9);
    color: #000;
}

/*  blog_delete */

.delete-container{
    background: #808080;
    padding: 30px 70px;
    border-radius: 10px;
}

#button-delete,
#button-no,
.button-list {
    background: #000;
    color: #fff;
    padding: 5px 15px;
    margin: 15px;
    border-radius: 5px;
}

#button-delete:hover,
#button-no:hover,
.button-list:hover{
    background: rgb(228, 169, 9);
    color: #000;
    font-weight: 900;
}

/* blog_list*/

.button-list{     
    margin-bottom: 0;
}





