.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.posts > h1{
    text-align: center;
    color: rgb(170, 167, 167);
    font-size: 2em;
}

.post-container{
    display: flex;
    flex-direction: column;
}

.post-item{
    margin: 15px;
    padding: 30px;
    background: #808080;
    color: #000;
}

.post-item div h1 {
    font-size: 1.4em;
}

.post-detail{
    margin-top: 3%;
    margin-bottom: 3%;
    background: #808080;

}

