{% extends 'core/base.html' %}

{% block title %}Update Post{% endblock %}

{% block content %}

<section class="section-container">
    <h1>Update Post!</h1>

    <form method="POST" class="form-container">
        {% csrf_token %}
        <div class="form-section">
            Title:<br>
            {{form.title}}
            <br>
            Content:<br>
            {{form.content}}<br>
        </div>
        <button type="submit" id="button-form">Update</button>
    </form>
</section>

{% endblock %}