{% extends 'core/base.html' %}

{% block title %}Create New Post {% endblock %}

{% block content %}
<section class="section-container">
    <h1>Create New Post!</h1>

    {% if request.user.is_authenticated %}
    
    <form method="POST" class="form-container">
        {% csrf_token %}
        <div class="form-section">
            <label for="id_title">Title:</label><br>
            <input type="text" id="id_title" name="title">
        </div>
        <div class="form-section">
            <label for="id_content">Content:</label><br>
            <textarea type="text" id="id_content" name="content"></textarea>
        </div>
        <button type="submit" id="button-form">SUBMIT</button>
    </form>

    {% else %}
    <div style="color: white;">
        <p>Debe registrarse primero</p>
        <a href="#">Registrarse</a>
        <a href="#">Ingresar</a>
    </div>
    {% endif %}

</section>
{% endblock %}