{% extends 'core/base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<section class="posts">
    <h1>Posts</h1>

    <div class="post-container">
        {% for post in posts %}
        <div class="post-item">
            <div>
                <a href="{% url 'blog:detail' post.id %}"><h1> {{post.title}}</h1></a>
                <p>{{post.content|striptags|truncatechars:200}}</p>
            </div>
            <button><a href="{% url 'blog:update' post.id %}">Update</a></button>
            <button><a href="{% url 'blog:delete' post.id %}">Delete</a></button>
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}